.baselineGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
}

.baselineGrid:hover {
    opacity: 1;
}

.guide {
    margin-bottom: calc(5 * var(--pixel-line-height));
}

.guide, .guide:before, .guide:after {
    box-sizing: border-box;
    position: relative;
    height: var(--pixel-line-height);
    width: 100%;
    outline: 1px solid turquoise;
}

.guide:before, .guide:after {
    content: '';
    display: block;
    position: absolute;
    top: 200%;
}

.guide:after {
    top: 400%;
}
